@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #9a2351;
  --secondary-color: #3dbad6;
  --container-width-lg: 79% !important;
  --container-width-md: 86% !important;
  --container-width-sm: 95% !important;
}
* {
  margin: 0;
}

body {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background: white;
}
a {
  text-decoration: none;
}
.container {
  width: var(--container-width-lg) !important;
}
li {
  list-style-type: none;
}
.btn-primary {
  background: var(--primary-color);
  padding: 7px 30px;
}
.btn-primary:hover{
  background: #6d1637;
}
.btn {
  color: white;
  border: none;
}
p {
  font-size: 14px;
  color: gray;
}
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
